/* Hoja de estilos principal para stratokaster.com
 * Autor: Ricardo Urdín
 * Fecha: 14 Junio de 2014
 *
 * Características: 
 * 
 *
 * Dimensiones: 
 *        anchura máxima body: 990px
 *        slideshow: 700px x 300px
 *        imagenes articulos: 200px x 100px
 */
 
 /* ---------  Reseteo del estilo por defecto -------------- */
* {
  margin: 0px;
  padding: 0px;
}



header, section, footer, aside, nav, article, figure, figcaption, hgroup {
display: block;
}

/* ---------- reglas generales del body ------------------------ */
body {
   max-width: 990px;
   margin: 0px auto;
   text-align: left;
    /*esto equivale a 10px. a partir de ahora pensamos en px pero ponemos em (1.5em = 15px)*/
   font-size: 62.5%;   
   font-family: verdana, sans-serif;   /* fuente texto  */
   color: white;
   overflow: auto;
   background: black url("../images/cssImages/fondoNegro1024para990_01.png") repeat-y center;
   /*background-color: black;
   background-image: url("../images/cssImages/fondoNegro1024para990_01.png") ;
   background-repeat: repeat-y;
   background-position: center;*/
}
h1 {
/* 3em = 30px ya que el padre es 62.5% de 16px*/
font: bold 3em verdana, sans-serif;
}

/* ------------------------- reglas header ------------------*/
header {
text-align: left;
padding: 0px 20px;
border: 0px solid #999999;

}

#comentarioTitulo { /* keywords para seo */
font-size: 0.32em; /* equivale a 15px ya que el padre (h1 es de 30px)*/
}
/* ----------------------- reglas section ------------------- */
section {
padding: 0px 20px;
}
/* -----------------------  reglas footer ------------------- */
footer {
   padding: 20px 0px;
   text-align: center;
   border-top: 2px solid #999999;
   
   /*borrar*/
   background: cyan;
}

/* -------  esqueleto del slideshow  -----------*/

article.slideshow {
   margin: 0px auto;
   overflow:hidden;
}
div#slideshow {
   width: 70%; /* 700px aprox */
   float: left;
   overflow:hidden;
}
/* contenedor slideshow */
.slider
{
	width:700px;
	height:400px;
	float:left;
	overflow:hidden;
}
/* contenidos slider */
.s_element{
	position:relative;
	width:100%;
	height:100%;
	display:none;
}

.s_visible
{
	display: block;
}
/*
#elem1{
	background: url("../images/slideshowImages/slider1_700x400.jpg");
}

#elem2{
	background: url("../images/slideshowImages/slider2_700x400.jpg");
}

#elem3{
	background: url("../images/slideshowImages/slider3_700x400.jpg");
}
	
#elem4{
    background: url("../images/slideshowImages/slider4_700x400.jpg");
}

#elem5{
    background: url("../images/slideshowImages/slider5_700x400.jpg");
}*/

/*
div.s_element img {
   border: none;
   width: 100%;
}

/* ---------- esqueleto divs a la derecha del slider --------*/
div#derechaSlide {
   width: 30%;  
   float: left;

}
#datos {
   margin: 0px 0px 0px 20px; /* para separar el texto de la imagen */
   padding: 10px;
   background-color: #c0c0c0;
   overflow: auto;
}
#datos .titulo {
font: bold 2em arial;
color: #555;
}
p:first-letter {
font: bold 1.5em arial;
color: red;
}
#datos .contenido {
font: bold 1.6em arial;
color: #fff;
}

/* -------  estructura de los articulos. Una imagen izda y texto dcha  -------*/
article.contenidosPrincipales {
   overflow: hidden;
   height: 1%;
   margin-top: 10px;
   font-size: 1.4em;
}

div.imgagenArticulo {
   float: left;
   overflow: hidden;
   margin: 0px 20px 0px 0px; /* para separar el texto de la imagen */
}

div.textoArticulo {
   
}




